/* 
Theme Name: Fundify-child 
Description: Child theme for Fundify
Author: Astoundify 
Template: fundify
*/

@import url("../fundify/style.css");

span.required-indicator {
  color: #b94a48;
  display: inline;
}

span.description {
  color: #666;
  font-size: 70%;
  display: block;
  margin: 0 0 5px;
}

.author-bio.big {
  margin-left: 300px;
}

.author-bio {
  margin-left: 90px;
}

#sidebar .widget-bio .author-bio-links {
  margin: 50px 0;
  clear: both;
}

.project-details font.pledged {
  font-family: 'Oswald';
  font-size: 46px;
  letter-spacing: 4px;
  line-height: 46px;
}

.project-details font.goal {
  font-family: 'Oswald';
  font-size: 46px;
  letter-spacing: 4px;
  line-height: 46px;
  margin-left: 10px;
}

.project-details font.normal {
  padding: 5px 0 8px;
}

ul.fb_donor li {
    width: 50px;
    height: 50px;
    margin: 0 0 0 0;
    padding: 1px 1px 1px 1px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}

#projects h3 {
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
}

#projects p {
    min-height: 120px;
    max-height: 120px;
    overflow: hidden;
}

#projects img.attachment-campaign.wp-post-image {
    max-height: 120px;
   // min-height: 150px;
}


#header.mini,
body.mini-header #header {
  padding: 5px;
}

#menu ul {
  margin-top: 25px;
}

#menu a {
  font-size: 18px;
}

#menu .sub-menu {
  top: 25px;
  padding: 0px;
  margin-top: 0px;
}

#menu ul .sub-menu li {
  width: 210px;
}

#menu .sub-menu a:hover {
  background: #085920;
  color: white;
}

ul.option-set li a:hover {
  background: #085920;
  color: white;
}

/*
#menu .right .sub-menu li {
  text-align: right;
}
*/

/* Transposh language translation : START */
.transposh_flags a span{
   margin-left: 10px;
}

.transposh_flags {
    float: right;
    margin-bottom: 5px;
}

/* Transposh language translation : END */

